.model {
	flex: 0 0 70%;
	max-width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.model:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../../assets/load.gif") center / contain no-repeat;
	animation: hide 4s both;
}
@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes show {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}
.model model-viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	--poster-color: transparent;
	animation: show 2s both cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.model model-viewer:focus,
.model model-viewer:focus-visible,
.model model-viewer:target,
.model model-viewer:active {
	outline: none;
	border: 0;
}

.progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
	visibility: hidden;
	transition: visibility 0.3s;
}

.update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	float: left;
	transition: width 0.3s;
}

.hotspot {
	background: transparent;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	height: 64px;
	position: relative;
	transition: all 0.3s;
	width: 64px;
}

.hotspot:not([data-visible]) {
	display: none;
	pointer-events: none;
	transition: 0.3s;
}

.hotspot:hover .hotspotText {
	transition: 0.3s linear;
	opacity: 1;
	transform: translateY(0%);
}

.hotspotText {
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	color: #333;
	opacity: 0;
	font-family: Futura, Helvetica Neue, sans-serif;
	font-size: 18px;
	font-weight: 700;
	left: calc(100% + 1em);
	overflow-wrap: break-word;
	padding: 0.5em 1em;
	position: absolute;
	transform: translateY(-25%);
	transition: 0.3s linear;
	top: 0;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hotspot:not([data-visible]) > * {
	display: none;
	pointer-events: none;
	transform: translateY(calc(-50% + 4px));
	transition: transform 0.3s, opacity 0.3s;
}
.toggle {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9;
}

@media (max-width: 1600px) {
	.model {
		flex: 0 0 48%;
		max-width: 48%;
		order: 2;
	}
}
@media (max-width: 767px) {
	.model {
		flex: 0 0 100%;
		max-width: 100%;
		order: 0;
		min-height: 85vh;
	}
}
