.model {
	margin: 0;
	padding: 0;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
}

.model #default-poster {
	background-color: #adadad !important;
}
.model model-viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
	visibility: hidden;
	transition: visibility 0.3s;
}

.update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	float: left;
	transition: width 0.3s;
}

.hotspot {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 32px;
	border: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	cursor: pointer;
	height: 16px;
	padding: 8px;
	position: relative;
	transition: all 0.3s;
	width: 16px;
}

.hotspot:not([data-visible]) {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.3);
	box-shadow: none;
	height: 16px;
	pointer-events: none;
	width: 16px;
	transition: 0.3s;
}
.hotspot:hover {
	background: rgba(255, 255, 255, 0.7);
}
.hotspot:hover .hotspotText {
	transition: 0.3s;
	opacity: 1;
}

.hotspot > * {
	opacity: 1;
	transform: translateY(-50%);
	transition: 0.3s;
}

.hotspotText {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	font-family: Futura, Helvetica Neue, sans-serif;
	font-size: 18px;
	font-weight: 700;
	left: calc(100% + 1em);
	max-width: 128px;
	overflow-wrap: break-word;
	padding: 0.5em 1em;
	position: absolute;
	top: 50%;
	width: max-content;
}

.hotspot:not([data-visible]) > * {
	opacity: 0;
	pointer-events: none;
	transform: translateY(calc(-50% + 4px));
	transition: transform 0.3s, opacity 0.3s;
}
