.tabs {
	margin: 0 auto;
	background: var(--sidebar);
	position: relative;
	display: flex;
}
.tabs ul {
	display: flex;
	box-shadow: 0 2px 0 0 var(--bg);
}
.tabs li {
	border-right: 1px solid var(--sidebar-icons);
	display: flex;
	align-items: center;
	color: var(--text);
	width: 128px;
	height: 37px;
}

.tabs a {
	color: inherit;
	padding-left: 10px;
	display: flex;
	align-items: center;
}
.tabs a img {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.tabs li:hover {
	background-color: var(--tab-hover);
}
.active {
	background-color: var(--tab-active);
}
.active a {
	color: var(--text-active);
}
@media (max-width: 860px) {
	.tabs ul {
		margin-left: 40px;
	}
}

@media (max-width: 600px) {
	.tabs li {
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
	}
	.tabs a {
		padding-left: 5px;
		width: 100px;
	}
	.tabs a img {
		margin-right: 5px;
	}
}

@media (max-width: 390px) {
	.tabs li {
		font-size: 11px;
	}
	.tabs a img {
		width: 12px;
		height: 12px;
	}
	.tabs a {
		padding: 0.75rem 2px;
		width: 70px;
	}
}
