.tabs {
	margin: 0 auto;
	background: var(--sidebar);
	position: relative;
	display: flex;
}
.tabs ul {
	display: flex;
	box-shadow: 0 2px 0 0 var(--bg);
}
.tabs li {
	width: 128px;
	border-right: 1px solid var(--sidebar-icons);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text);
}

.tabs a {
	color: inherit;
	display: flex;
	align-items: flex-end;
	padding: 0.75rem;
	width: 100%;
}
.tabs a img {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.tabs li:hover {
	background-color: var(--tab-hover);
}
.active {
	background-color: var(--tab-active);
}
.active a {
	color: var(--text-active);
}
@media (max-width: 860px) {
	.tabs ul {
		margin-left: 40px;
	}
}

@media (max-width: 600px) {
	.tabs li {
		font-size: 12px;
		width: 100px;
	}
	.tabs a {
		padding: 5px;
	}
	.tabs a img {
		margin-right: 5px;
	}
}

@media (max-width: 390px) {
	.tabs li {
		font-size: 11px;
		width: 75px;
		overflow: hidden;
	}
}
