.model {
	flex: 0 0 60%;
	max-width: 60%;
}
.model model-viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.model model-viewer {
	--poster-color: transparent;
}

.progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
	visibility: hidden;
	transition: visibility 0.3s;
}

.update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	float: left;
	transition: width 0.3s;
}

.hotspot {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 32px;
	border: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	cursor: pointer;
	height: 16px;
	padding: 8px;
	position: relative;
	transition: all 0.3s;
	width: 16px;
}

.hotspot:not([data-visible]) {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.3);
	box-shadow: none;
	height: 16px;
	pointer-events: none;
	width: 16px;
	transition: 0.3s;
}
.hotspot:hover {
	background: rgba(255, 255, 255, 0.7);
}

.hotspot:hover .hotspotText {
	transition: 0.5s linear;
	opacity: 1;
	transform: translateY(0%);
}

.hotspotText {
	background: var(--primary);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	color: var(--light);
	opacity: 0;
	font-family: Futura, Helvetica Neue, sans-serif;
	font-size: 18px;
	font-weight: 700;
	left: calc(100% + 1em);
	overflow-wrap: break-word;
	padding: 0.5em 1em;
	position: absolute;
	transform: translateY(-25%);
	transition: 0.5s linear;
	top: 0;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hotspot:not([data-visible]) > * {
	opacity: 0;
	pointer-events: none;
	transform: translateY(calc(-50% + 4px));
	transition: transform 0.3s, opacity 0.3s;
}

.toggle {
	display: flex;
	position: absolute;
	bottom: 1rem;
	right: 0;
	font-size: 18px;
	z-index: 10;
	padding: 0.5rem;
	color: var(--text-active);
	text-shadow: 2px 2px 2px var(--sidebar);
}
.toggle label {
	cursor: pointer;
	align-items: center;
	display: flex;
	opacity: 0.3;
	transition: 0.3s linear;
}
.toggle label:hover {
	opacity: 0.6;
	transition: 0.3s linear;
}
.toggle input {
	display: none;
}
.toggle input:checked + label {
	transition: 0.3s linear;
	opacity: 1;
}
.toggle input:checked + label:after {
	transform: translateY(-50%) translateX(100%);
}
.toggle label:before {
	content: "";
	width: 34px;
	height: 100%;
	border-radius: 18px;
	background-color: var(--text-active);
	margin-right: 0.5rem;
	box-shadow: 2px 2px 2px var(--sidebar);
}
.toggle label:after {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: var(--sidebar);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 8px;
	transition: 0.3s linear;
}
