.logo {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	color: var(--light);
	overflow: hidden;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
}
.logo strong {
	position: absolute;
	color: var(--primary-hover);
	left: 0;
	transform: translateY(-150%);
}
.logo strong::first-letter {
	color: var(--light);
}
.logo span::first-letter {
	color: var(--primary);
}

.logo:hover strong {
	transform: translateY(0%);
}
.logo:hover span {
	transform: translateY(150%);
}

.logo:hover,
.logo:hover span,
.logo:hover strong,
.logo strong,
.logo span {
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (max-width: 575.98px) {
	.logo {
		font-size: 1.5rem;
	}
}
