.taskbar {
	flex: 0 1 auto;
	color: var(--text);
	background: var(--sidebar);
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 1rem;
}
.taskbar div {
	display: flex;
}
.taskbar span {
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}
.svgWrapper {
	display: none;
}
.icon {
	max-width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 767px) {
	.taskbar span:not(.mobile) {
		display: none;
	}
}
