.readmeInfo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: var(--bg);
	width: 100%;
	min-height: 100%;
}
.image img {
	max-width: 100%;
	margin-bottom: 2rem;
	margin-top: 1rem;
}
.link {
	color: var(--code-color-06);
	font-size: 1.75rem;
	display: inline-block;
	margin-bottom: 3rem;
}
.link:hover {
	color: var(--code-color-05);
}
.readmeInfo h1 {
	font-size: 48px;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	color: var(--code-color-02);
}

.readmeInfo h2 {
	font-size: 32px;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	color: var(--code-color-03);
}
.readmeInfo h2,
.readmeInfo h1 {
	border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.readmeInfo ul {
	margin-bottom: 2rem;
}
.wrap {
	padding: 20px 30px 0 30px;
}
.readmeInfo li {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	line-height: 150%;
}
.readmeInfoClose {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-active);
	opacity: 0.5;
	color: white;
	font-size: 2rem;
	transition: 0.3s;
}
.readmeInfoClose:hover {
	opacity: 1;
	background-color: orangered;
	cursor: pointer;
	transition: 0.3s;
}

@media (max-width: 767px) {
	.readmeInfo {
		position: fixed;
		top: 65px;
		left: 0;
		overflow: auto;
	}
	.wrap {
		min-height: 100vh;
		height: 1000px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.readmeInfoClose {
		position: fixed;
		top: 65px;
	}
}

@media (max-width: 600px) {
	.readmeInfo h1 {
		font-size: 36px;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	.readmeInfo h2 {
		font-size: 26px;
	}
	.wrap {
		padding: 15px;
	}
}
@media (max-width: 390px) {
	.wrap {
		height: 1100px;
	}
}
