.readmeInfo {
	flex: 0 0 60%;
	max-width: 60%;
	color: var(--text);
	padding: 10px;
	position: relative;
}
.readmeInfoClose {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	opacity: 0.2;
	color: var(--text);
	font-size: 2rem;
	transition: 0.3s;
}
.readmeInfoClose:hover {
	opacity: 0.6;
	cursor: pointer;
	transition: 0.3s;
}
