.works {
	display: flex;
	flex: 1 1 auto;
}
.modal {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--bg);
}
.modalClose {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-active);
	opacity: 0.5;
	color: white;
	font-size: 2rem;
	transition: 0.3s;
}
.modalClose:hover {
	opacity: 1;
	background-color: orangered;
	cursor: pointer;
	transition: 0.3s;
}

.modal iframe {
	width: 100%;
	height: 100%;
	background: var(--text);
}
.fullScreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.mobile iframe {
	max-width: 390px;
}
.mobile {
	display: flex;
	justify-content: center;
}
.worksWindow {
	width: 100%;
	position: relative;
}
.modalControls {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
	font-size: 1.25rem;
	background-color: var(--bg);
	display: flex;
}
.modalControl {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}
.modalControl input {
	width: 16px;
	flex: 0 0 16px;
	height: 16px;
	margin-right: 0.5rem;
}
.modalControl label {
	cursor: pointer;
}

/* INFO */
.info {
	position: absolute;
	padding: 30px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--text);
}
.info h1 {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
	color: var(--code-color-03);
}
.info h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--code-color-01);
}
.info li,
.info p {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	padding-left: 2rem;
}
.info p {
	font-size: 1.5rem;
	line-height: 150%;
}
.info h3 {
	font-size: 1.5rem;
	line-height: 150%;
	color: var(--code-color-06);
}
.info li span {
	color: var(--code-color-02);
	font-size: 1.5rem;
}
