.about {
	display: flex;
	flex: 1 1 auto;
}
.textArea {
	color: var(--text);
	width: 100%;
	overflow: auto;
	position: relative;
}
.textArea > div:not(.info) {
	padding: 30px;
}
.textArea h2 {
	color: var(--code-color-01);
	font-size: calc(16px + 16 * ((100vw - 320px) / (1920 - 320)));
	text-shadow: var(--shadow);
}
.info {
	padding: 30px;
	position: absolute;
}
.info h1 {
	color: var(--code-color-06);
	font-size: calc(24px + 16 * ((100vw - 320px) / (1920 - 320)));
	margin-bottom: 1em;
	text-shadow: var(--shadow);
}
.info h2 {
	margin: 0.5em 0;
	padding-left: 1em;
}
.info li,
.info p {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	padding-left: 2rem;
	line-height: 150%;
}

@media (max-width: 600px) {
	.info {
		padding: 15px;
	}
	.info h1 {
		font-size: 25px;
	}
	.info li,
	.info p {
		padding-left: 1rem;
		font-size: 15px;
	}
}
