.filesControl {
	width: calc(20% - 48px);
	margin-left: 48px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--text);
	padding: 0 10px;
}
.filesControl span {
	max-width: 20px;
	height: 20px;
	flex: 0 0 20px;
	margin-right: 10px;
	border-radius: 3px;
	cursor: pointer;
	background-color: var(--text);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}
.filesControl span:hover {
	background-color: var(--color-title);
}
.filesControl span:last-child {
	margin-right: 0px;
}
.filesControl strong {
	margin-right: 10px;
	font-weight: normal;
}
.filesControl > div {
	display: flex;
}

.newFile {
	mask-image: url("../../assets/icons/new-file.svg");
}
.newFolder {
	mask-image: url("../../assets/icons/new-folder.svg");
}
.refresh {
	mask-image: url("../../assets/icons/refresh.svg");
}
.collapse {
	mask-image: url("../../assets/icons/collapse-all.svg");
}
.more {
	mask-image: url("../../assets/icons/more.svg");
}

@media (max-width: 1780px) {
	.filesControl span {
		display: none;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}
@media (max-width: 1600px) {
	.filesControl {
		min-width: 265px;
		font-size: 0;
	}
}
