.header {
	background-color: var(--dark);
	padding: 0.4rem 0;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact {
	margin: 0;
}

@media (max-width: 389.98px) {
	.contact {
		font-size: 0;
		padding: 0.5rem 1rem;
	}
	.contact:after {
		content: "@";
		font-weight: bold;
		font-size: 1.25rem;
	}
}
