.tabs {
	margin: 0 auto;
	background: var(--sidebar);
	position: relative;
	display: flex;
}
.tabs ul {
	display: flex;
	box-shadow: 0 2px 0 0 var(--bg);
}
.tabs li {
	width: 128px;
	border-right: 1px solid black;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text);
}

.tabs a {
	color: inherit;
	display: flex;
	align-items: flex-end;
	padding: 0.75rem;
	width: 100%;
}
.tabs a img {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.tabs li:hover {
	background-color: #33373b;
}
.active {
	background-color: var(--tab-active);
}
.active a {
	color: var(--text-active);
}
