.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0.5rem;
	background-color: #282c34;
	height: 2rem;
}
.topbar img {
	flex: 0 0 24px;
	max-width: 24px;
	height: 24px;
}

.controls {
	display: flex;
}
.control {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: var(--text);
	transition: 0.3 linear;
}
.control:hover {
	color: var(--text-active);
	transition: 0.3 linear;
	cursor: pointer;
}
