.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0.5rem;
	background-color: var(--color-topbar);
	height: 2rem;
}
.topbar img {
	flex: 0 0 24px;
	max-width: 24px;
	height: 24px;
}

.controls {
	display: flex;
}
.control {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: var(--text);
	transition: 0.3 linear;
}
.control:hover {
	color: var(--text-active);
	transition: 0.3 linear;
	cursor: pointer;
}
.name {
	color: var(--code-color-06);
}

.name:before,
.name::after {
	color: var(--text);
}
.portfolio:after,
.portfolio::before {
	color: var(--code-color-06);
}
.name:before {
	content: "< ";
}
.name:after {
	content: " />";
}
.portfolio:after {
	content: "}";
}
.portfolio::before {
	content: "{";
}

.props {
	color: var(--code-color-01);
}
.equals {
	color: var(--code-color-03);
}
.portfolio {
	color: var(--text);
}
.appClass {
	color: var(--code-color-02);
}
.toggle {
	font-weight: 700;
}
.toggle span {
	transform: translateX(-74px);
}
