.folder {
	flex: 1 1 auto;
	color: var(--text);
}
/* all lines paddings and hover */
.folder li,
.folder p {
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	height: 24px;
	line-height: 24px;
}
.folder li:hover,
.folder p:hover {
	background-color: var(--tab-active);
}
/* vertical line */
.list {
	position: relative;
}
.list:before {
	content: "";
	position: absolute;
	top: 0;
	left: 17px;
	height: 100%;
	width: 1px;
	background-color: var(--text);
	opacity: 0.3;
}
/* open close states */
.skills .open:after {
	background-image: url("../../assets/icons/folder-public-open.svg");
}
.skills .close:after {
	background-image: url("../../assets/icons/folder-public.svg");
}
.apps .open:after {
	background-image: url("../../assets/icons/folder-app-open.svg");
}
.apps .close:after {
	background-image: url("../../assets/icons/folder-app.svg");
}
.tools .open:after {
	background-image: url("../../assets/icons/folder-config-open.svg");
}
.tools .close:after {
	background-image: url("../../assets/icons/folder-config.svg");
}
.react .open:after {
	background-image: url("../../assets/icons/folder-react-components-open.svg");
}
.react .close:after {
	background-image: url("../../assets/icons/folder-react-components.svg");
}
.library .open:after {
	background-image: url("../../assets/icons/folder-components-open.svg");
}
.library .close:after {
	background-image: url("../../assets/icons/folder-components.svg");
}
.static .open:after {
	background-image: url("../../assets/icons/folder-github-open.svg");
}
.static .close:after {
	background-image: url("../../assets/icons/folder-github.svg");
}
.games .open:after {
	background-image: url("../../assets/icons/folder-javascript-open.svg");
}
.games .close:after {
	background-image: url("../../assets/icons/folder-javascript.svg");
}
/* arrows folder state */
.open::before {
	background-image: url("../../assets/icons/chevron-down.svg");
}
.close::before {
	background-image: url("../../assets/icons/chevron-right.svg");
}
.open::before,
.open::after,
.close::before,
.close::after {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/* global folders style */
.folder p {
	width: 100%;
	height: 24px;
	padding-left: 55px;
	position: relative;
}
.folder p:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 10px;
	height: 16px;
	width: 16px;
}
.folder p:after {
	content: "";
	position: absolute;
	top: 0;
	left: 30px;
	height: 20px;
	width: 20px;
}
.folder li {
	padding-left: 65px;
	position: relative;
}

.folder li:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 40px;
	height: 20px;
	width: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/* icons for files and apps */
.html:before {
	background-image: url("../../assets/icons/html.svg");
}
.html:after {
	content: ".html";
}
.css:before {
	background-image: url("../../assets/icons/css.svg");
}
.css:after {
	content: ".css";
}
.js:before {
	background-image: url("../../assets/icons/javascript.svg");
}
.js:after {
	content: ".js";
}
.bs:before {
	background-image: url("../../assets/icons/bootstrap.svg");
}
.bs:after {
	content: ".min.css";
}
.bem:before {
	background-image: url("../../assets/icons/css-map.svg");
}
.bem:after {
	content: ".map.css";
}
.scss:before {
	background-image: url("../../assets/icons/sass.svg");
}
.scss:after {
	content: ".scss";
}
.ts:before {
	background-image: url("../../assets/icons/typescript.svg");
}
.ts:after {
	content: ".ts";
}
.jsx:before {
	background-image: url("../../assets/icons/react.svg");
}
.jsx:after {
	content: ".jsx";
}
.figma:before {
	background-image: url("../../assets/icons/figma.svg");
}
.figma:after {
	content: ".fig";
}
.psd:before {
	background-image: url("../../assets/icons/psd.svg");
}
.psd:after {
	content: ".psd";
}
.gimp:before {
	background-image: url("../../assets/icons/gimp.svg");
}
.gimp:after {
	content: ".xcf";
}
.vscode:before {
	background-image: url("../../assets/icons/vscode.svg");
}
.vscode:after {
	content: ".exe";
}
.web:before {
	background-image: url("../../assets/icons/webstorm.svg");
}
.web:after {
	content: ".lnk";
}
.php:before {
	background-image: url("../../assets/icons/phpStorm.svg");
}
.php:after {
	content: ".bin";
}
.gh:before {
	background-image: url("../../assets/icons/github.svg");
}
.gh:after {
	content: ".com";
}
.git:before {
	background-image: url("../../assets/icons/git-console.svg");
}
.git:after {
	content: ".ignore";
}
.gl:before {
	background-image: url("../../assets/icons/gitlab.svg");
}
.gl:after {
	content: ".com";
}
.npm:before {
	background-image: url("../../assets/icons/npm.svg");
}
.npm:after {
	content: ".run.start";
}
.gulp:before {
	background-image: url("../../assets/icons/gulp.svg");
}
.gulp:after {
	content: ".js";
}
.chrome:before {
	background-image: url("../../assets/icons/chrome.svg");
}
.chrome:after {
	content: ".dev.exe";
}
