.sidebar {
	flex: 0 0 20%;
	display: flex;
	background: var(--sidebar);
}

.icons {
	display: flex;
	flex-direction: column;
	flex: 0 0 48px;
	max-width: 48px;
	height: 100%;
	background: var(--sidebar-icons);
	position: relative;
	transform: translateY(-37px);
}
.icons:before {
	content: "";
	position: absolute;
	bottom: -37px;
	left: 0;
	width: 48px;
	height: 40px;
	background: var(--sidebar-icons);
}
.top {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.bottom {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	transform: translateY(40px);
}
.icon {
	width: 48px;
	min-height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	background-position: center;
	background-size: 36px;
	background-repeat: no-repeat;
	opacity: 0.5;
	margin-bottom: 1rem;
}
.icon:hover {
	opacity: 1;
}
.filesIcon {
	background-image: url("./files.svg");
	border-left: 3px solid var(--text-active);
	opacity: 1;
}

.searchIcon {
	background-image: url("./search.svg");
}
.gitIcon {
	background-image: url("./git.svg");
}
.bugIcon {
	background-image: url("./bug.svg");
}
.blocksIcon {
	background-image: url("./blocks.svg");
}
.userIcon {
	background-image: url("./user.svg");
}
.settingsIcon {
	background-image: url("./settings.svg");
}
