.sidebar {
	flex: 0 0 20%;
	display: flex;
	background: var(--sidebar);
}
.files {
	flex: 1 1 auto;
}
.toggle {
	display: none;
	position: absolute;
	top: -37px;
	right: -37px;
	width: 37px;
	height: 37px;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #aaddff;
	border-radius: 0 5px 5px 0;
	transition: filter 300ms, background 300ms;
	font-size: 2rem;
	color: white;
}
.toggle img {
	width: 80%;
	height: 80%;
	object-fit: contain;
	object-position: center;
}
.toggle:hover {
	filter: brightness(1.1);
	background-color: var(--color-active);
}
@media (max-width: 1600px) {
	.files {
		min-width: 265px;
	}

	.sidebar {
		position: fixed;
		height: 100%;
		z-index: 12;
		transform: translateX(-100%);
		transition: transform 500ms;
	}
	[class*="Works"] .sidebar {
		z-index: 9;
	}
	.sidebar:before {
		content: "EXPLORER: PORTFOLIO";
		line-height: 37px;
		padding-left: 30px;
		color: var(--text);
		position: absolute;
		top: -37px;
		left: 48px;
		width: calc(100% - 48px);
		height: 37px;
		background-color: var(--sidebar);
	}
	.sidebar.active {
		transform: translateX(0%);
	}
	.toggle {
		display: flex;
		cursor: cell;
	}

	.toggle.active {
		right: 0px;
		border-radius: 5px 0 0 5px;
		background-color: rgb(255, 156, 120);
	}
	.toggle.active:hover {
		background-color: orangered;
	}
}
@media (max-width: 767px) {
	.sidebar {
		top: 65px;
	}
	.files {
		min-width: 273px;
	}
}
