* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	background: var(--bg);
	animation: load 1.25s 2.75s 1 both;
}

.page {
	flex: 1 1 auto;
}

@keyframes load {
	from {
		clip-path: circle(1% at 50% 50%);
		opacity: 0;
	}
	to {
		clip-path: circle(100% at 50% 50%);
		opacity: 1;
	}
}
