@import url("https://fonts.googleapis.com/css?family=Roboto:regular,900&display=swap");
:root {
	--code-color-01: #89c379;
	--code-color-02: #e5c07b;
	--code-color-03: #e06c75;
	--code-color-04: #ffd71b;
	--code-color-05: #c678dd;
	--code-color-06: #56afef;
	--text: #a3b0b7;
	--text-active: #d7dae0;
	--text-disabled: #72767f;
	--bg: #282c34;
	--sidebar: #21252b;
	--sidebar-icons: #2f333d;
	--tab-active: #383e4a;
	--grey: #cccccc;
	--color-active: #42a5f5;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ol li,
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: middle;
}
html,
body {
	font-size: 14px;
	line-height: 1;
	height: 100%;
	background: var(--sidebar);
	font-family: Roboto;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input,
button,
textarea {
	font-family: inherit;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border: 1px solid var(--light);
}
::-webkit-scrollbar-track {
	border-radius: 0;
	background: var(--light);
}
::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: var(--primary);
}
