.link {
	position: relative;
	cursor: pointer;
}

.link::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 0%;
	height: 1px;
	background-color: var(--light);
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover:after {
	width: 100%;
	left: 0;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
