.swiper {
	height: 100%;
}
.slider {
	flex: 0 0 20%;
	max-width: 20%;
	position: relative;
}
.slide {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: var(--text);
	padding: 1rem;
}
.slide h2 {
	padding-left: 50px;
	font-size: 30px;
	margin-bottom: 20px;
	background-position: 10px top;
	background-size: 30px;
	background-repeat: no-repeat;
}

.slide p {
	font-size: 18px;
	line-height: 150%;
	color: var(--light);
	text-indent: 20px;
	margin-bottom: 15px;
}

.slide .me {
	color: white;
}

/* icons */
.html {
	background-image: url("../../assets/icons/html.svg");
}
.css {
	background-image: url("../../assets/icons/css.svg");
}
.vs {
	background-image: url("../../assets/icons/vscode.svg");
}
.ts {
	background-image: url("../../assets/icons/typescript.svg");
}
.bs {
	background-image: url("../../assets/icons/bootstrap.svg");
}
