.swiper {
	height: 100%;
}
.slider {
	flex: 0 0 30%;
	max-width: 30%;
}
.slide {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: var(--text);
	padding: 1rem;
}
.slide h2 {
	padding-left: 50px;
	font-size: 30px;
	margin: 30px;
	background-position: 10px top;
	background-size: 30px;
	background-repeat: no-repeat;
	color: var(--code-color-04);
	text-shadow: var(--shadow);
}

.slide p {
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 15px;
}

.slide .me {
	color: var(--code-color-01);
}

/* icons */
.html {
	background-image: url("../../assets/icons/html.svg");
}
.css {
	background-image: url("../../assets/icons/css.svg");
}
.vs {
	background-image: url("../../assets/icons/vscode.svg");
}
.ts {
	background-image: url("../../assets/icons/typescript.svg");
}
.bs {
	background-image: url("../../assets/icons/bootstrap.svg");
}
.php {
	background-image: url("../../assets/icons/phpStorm.svg");
}
.js {
	background-image: url("../../assets/icons/javascript.svg");
}
.sass {
	background-image: url("../../assets/icons/sass.svg");
}
.gulp {
	background-image: url("../../assets/icons/gulp.svg");
}
.react {
	background-image: url("../../assets/icons/react.svg");
}
.figma {
	background-image: url("../../assets/icons/figma.svg");
}
.ps {
	background-image: url("../../assets/icons/photoshop.svg");
}
.bem {
	background-image: url("../../assets/icons/bem.svg");
}
.gh {
	background-image: url("../../assets/icons/github.svg");
}
.gl {
	background-image: url("../../assets/icons/gitlab.svg");
}
.npm {
	background-image: url("../../assets/icons/npm.svg");
}
.git {
	background-image: url("../../assets/icons/git-console.svg");
}
.chrome {
	background-image: url("../../assets/icons/chrome.svg");
}

@media (max-width: 1600px) {
	.slider {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 767px) {
	.slider {
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 1rem;
	}
	.slide p {
		font-size: 15px;
	}
	.slide h2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
}
