.slide {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	padding: 1rem;
}
.slider {
	height: 100%;
}

.slide p {
	background-color: #fff;
	height: 100%;
	width: 100%;
}
